<section id="showcase-inner" 
  {% if h1|default:'' == '' %} 
  class="showcase-search py-5 text-white"
  {% else %}
  class="py-5 text-white"
  {% endif %}
>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        {% if h1|default:'' == '' %}
          {% include 'partials/_search.html' %}
        {% else %}
          <h1 class="display-4">{{ h1 }}</h1>
          <p class="lead">
            {% if listing.title %}
              <i class="fas fa-map-marker"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}
            {% else %}
              {{ lead }}
            {% endif %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>