{% extends 'base.html' %}
{% block title %}
  Account Dashboard
{% endblock %}
{% block content %}
  <!-- Showcase -->
  {% include 'partials/_showcase-inner.html' with h1="User Dashboard" lead="Manage your BT Real Estate account" %}
  <!-- Breadcrumb -->
  {% include 'partials/_breadcrumb.html' %}
  <!-- alert -->
  {% include 'partials/_alert.html' %}
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.first_name }}</h2>
          {% if contacts %}
            <p>Here are the property listings that you have inquired about</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Property</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.listing }}</td>
                    <td>
                      <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>You haven't made any inquiries.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}